html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  background-image: url(../img/bg5.jpg);
  background-attachment: fixed;
  background-size: cover;
  background-position: center;

  font-family: 'Open Sans','helvetica',arial,sans-serif;
  font-weight: 300;
  color: #62686f;


}

h1, h2, h3, h4, h5, h6 {
  color: #333;
  font-weight: 300;
}

.container {
  width: 960px;
  margin: 0 auto;
  

}

.main-header {
	background-image: url(../img/banner.jpg);

	text-align: center;
	font-weight: 300;
	font-size: 50px;
	font-family: 'Open Sans','helvetica',arial,sans-serif;
	color:#ffffff;
	text-shadow: 0 1px rgba(0,0,0,0.3);
}

.container header {
	margin-top: 110px;
	padding: 1px;
}

.main-header h1 {
	margin-bottom: 20px;
}

.main-header__avatar {
  display: block;
  width: 25%;
  margin: 0 auto;
  box-shadow: 0 0px 2px 1px rgba(0,0,0,0.2);
  border-radius: 999px
}

.main-header img {
	margin-top: -70px;
  margin-bottom: 10px;
	padding: 1px;
}

.main-nav {
	background-color: #333;
	text-align: center;
}

.main-nav ul {
	margin: 0 0;
	padding: 0 40;
}

.main-nav ul li {
	display: inline-block;
	margin: 15px 10px;
}

.main-nav ul li a {
  color: #fff;
  font-size: 0.9rem;
  font-weight: 300;
  text-transform: uppercase;
  text-decoration: none;
}

.main-nav ul li a:hover {
  text-decoration: underline;
}

.info-section {
  background-color: #fff;
  padding: 30px 60px;
}

.info-section header {
	margin: 0 0 60 0;
	text-align: center;
}

.info-section ul {
	list-style: none;
	padding: 0 0;
	
}

.clearfix:after {
	content: "";
	display: table;
	clear: both;

}

.whatido__skill {
	background-repeat: no-repeat;
	background-position: center top;
	padding: 90 0 0 0;
	float: left;
	width: 33.3%;
	text-align: center;
}

.whatido__skill--code {
  background-image: url(../img/skill-code.png);
}

.whatido__skill--design {
  background-image: url(../img/skill-design.png);
}

.whatido__skill--product {
  background-image: url(../img/skill-product.png);
}

.info-section header h2 {
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

h2:after{
  border-bottom: 3px solid black;
  content:"";
  display: table;
  width: 10%;
  margin: 15px auto;
}

.info-section__description {
  font-style: italic;
}

.education-experience__list img {
	float: left;
	width: 180px;

}



.education-experience__list__description {
	overflow: hidden;
	padding: 0 10 0 30
}

.education-experience__list__description h3 {
	margin: 0
}

.photos__list {
	overflow: hidden;
}

.photos__list li {
	float: left;
	width: 25%;
	padding: 10;
}

.photos__list li img {
	width: 100%
}

.get-in-touch__list {
	overflow: hidden;
}

.get-in-touch__list li {
	float: left;
	width: 25%;
	text-align: center;
}

.contact {
	
}

.contact input,
.contact textarea {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 100%;
	margin-bottom: 10;
}

.contact input{
  padding: 8px;
}

.contact label{
	position: absolute;
	left: -20%;
	width: 20%;
	height: 100%;
	padding: 8 5 0 0;
}

.contact button {
  border: none;
  border-radius: 9999px;

  background: #ffd524;

  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0,0,0,0.2);
  color: #fff;
  box-shadow: 0 3px 0 #daae1d;
	width: 100%;
	height: 40px;
	margin-top: 5;
}

.contact form {
	width: 40%;
	margin: 0 auto;
	
}

.box {
	position: relative;
	text-align: right;
}